@font-face {
    font-family: "Roboto thin";
    src: url("../text-fonts/Roboto/Roboto-Thin.ttf") format(".ttf");
}
@font-face {
    font-family: "Roboto thin italic";
    src: url("../text-fonts/Roboto/Roboto-ThinItalic.ttf") format(".ttf");
}
@font-face {
    font-family: "Roboto Regular";
    src: url("../text-fonts/Roboto/Roboto-Regular.ttf") format(".ttf");
}
@font-face {
    font-family: "Roboto Medium Italic";
    src: url("../text-fonts/Roboto/Roboto-MediumItalic.ttf") format(".ttf");
}
@font-face {
    font-family: "Roboto Medium";
    src: url("../text-fonts/Roboto/Roboto-Medium.ttf") format(".ttf");
}
@font-face {
    font-family: "Roboto Light Italic";
    src: url("../text-fonts/Roboto/Roboto-LightItalic.ttf") format(".ttf");
}
@font-face {
    font-family: "Roboto Light";
    src: url("../text-fonts/Roboto/Roboto-Light.ttf") format(".ttf");
}
@font-face {
    font-family: "Roboto Italic";
    src: url("../text-fonts/Roboto/Roboto-Italic.ttf") format(".ttf");
}
@font-face {
    font-family: "Roboto Bold Italic";
    src: url("../text-fonts/Roboto/Roboto-BlackItalic.ttf") format(".ttf");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../text-fonts/Roboto/Roboto-Bold.ttf") format(".ttf");
}
@font-face {
    font-family: "Roboto Black Italic";
    src: url("../text-fonts/Roboto/Roboto-BlackItalic.ttf") format(".ttf");
}
@font-face {
    font-family: "Roboto Black";
    src: url("../text-fonts/Roboto/Roboto-Black.ttf") format(".ttf");
}
@font-face {
    font-family: "Poppins Black";
    src: url("../text-fonts/poppins/Poppins-Black.ttf") format(".ttf");
}
@font-face {
    font-family: "Poppins Regular";
    src: url("../text-fonts/poppins/Poppins-Regular.ttf") format(".ttf");
}
@font-face {
    font-family: "Poppins bold";
    src: url("../text-fonts/poppins/Poppins-Bold.ttf") format(".ttf");
}

.header-top {
    padding: 10px 0;
    background: #fff;
}
.logo {
    max-width: 150px;
    margin-right: 40px;
}
.logo img {
    width: 100%;
}
.desktop-menu .desktop-menu-list {
    list-style:none;
    margin:0;
    padding:0;
}
.desktop-menu .desktop-menu-list li {
    display: inline-block;
}
.desktop-menu .desktop-menu-list li a {
    font-family: "Roboto Medium";
    text-decoration: none;
    padding: 0 10px;
    color: #000;
    font-size: 14px;
}
.desktop-menu .desktop-menu-list li:first-child a {
    padding-left: 0;
}
.desktop-menu .desktop-menu-list li:last-child a {
    padding-right: 0;
}
.right-part-menu {
    margin-left: auto;
}
.right-part-menu .right-part-list {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.right-part-menu .right-part-list li {
    display: inline-block;
    margin-right: 10px;
}
.right-part-menu .right-part-list li:last-child {
    margin-right: 0;
}
.right-part-menu .right-part-list li p {
    line-height: 1;
    font-size: 13px;
}
.right-part-menu .right-part-list li .user-details {
    display: block;
    font-size: 13px;
}
.right-part-menu .right-part-list li .user-details .user-id {
    display: block;
}
.right-part-menu .right-part-list li .user-details .user-id .reload-icon {
    display: inline;
}
.right-part-menu .right-part-list li .user-details .reload-icon span {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #bf2262;
    padding: 5px;
    line-height: 10px;
}
.right-part-menu .right-part-list li .user-details .reload-icon span img {
    width: 100%;
}
.badge-yellow {
    color: #000;
    background-image: -moz-linear-gradient( 90deg, rgb(253,184,3) 0%, rgb(247,234,120) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(253,184,3) 0%, rgb(247,234,120) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(253,184,3) 0%, rgb(247,234,120) 100%);
}
.play-lottery-btn {
    display: inline-block;
    color: #000;
    background-image: -moz-linear-gradient( 90deg, rgb(253,184,3) 0%, rgb(247,234,120) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(253,184,3) 0%, rgb(247,234,120) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(253,184,3) 0%, rgb(247,234,120) 100%);
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    /* font-family: "Roboto Medium"; */
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.dropdown .lanugae-selector .lang-flag {
    width: 25px;
    height: 25px;
    display: inline-block;
}
.dropdown .lanugae-selector .lang-flag img {
    width: 100%;
}
.dropdown .lanugae-selector {
    text-decoration: none;
    color: #000;
}
.hero-slider-special-draw {
    background: url(../images/bg-slider/special-draw-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    border-top: 5px solid #ffc100;
}
.logo-draw {
    position: relative;
    padding-left: 2px;
    margin-right: 30px;
}
.logo-draw:after {
    background-color: #000;
    content: '';
    background: #c6252c;
    position: absolute;
    height: 100%;
    width: 100%;
    left: -2px;
    top: 2px;
    border-radius: 10px;
}
.draw-logo-img {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 2px solid #c6252c;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.draw-name {
    font-size: 60px;
    font-family: "Poppins Black";
    line-height: 1;
    color: #ff0000;
}
.sd-text-part p {
    color: #000;
    font-family: "Poppins Regular";
}
.date-block {
    margin: 20px 0;
}
.date-block a {
    display: block;
    padding: 5px 10px;
    border-radius: 30px;
    background-image: -moz-linear-gradient( 90deg, rgb(195,32,38) 0%, rgb(255,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(195,32,38) 0%, rgb(255,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(195,32,38) 0%, rgb(255,0,0) 100%);
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    max-width: 386px;
    text-decoration: none;
    text-align: center;
}
.sd-text-part h3 {
    font-family: "Poppins Black";
    font-size: 46px;
    text-transform: uppercase;
}
.hero-slider .owl-nav {
    position: absolute;
    top: 45%;
    z-index: 2;
    width: 100%;
}
.hero-slider .owl-nav .owl-prev {
    position: absolute;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
    background: #bc2263 !important;
    color: #fff !important;
    font-size: 25px !important;
    line-height: 12px !important;
    padding: 0 !important;
    margin: 0 !important;
}
.hero-slider .owl-nav .owl-next {
    position: absolute;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
    background: #bc2263 !important;
    color: #fff !important;
    font-size: 25px !important;
    line-height: 12px !important;
    padding: 0 !important;
    margin: 0 !important;
}
.hero-slider .owl-nav .owl-prev span, .hero-slider .owl-nav .owl-next span {
    line-height: 11px;
    display: block;
    padding-top: 0px;
    position: absolute;
    top: 21%;
    left: 35%;
}
.hero-slider .owl-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin: 0 auto;
}
.hero-slider .owl-dots .owl-dot.active span {
    border: 1px solid #bc2263;
    background-color: #bc2263 !important;
}
.hero-slider .owl-dots .owl-dot span {
    border: 1px solid #000;
    background-color: #fff !important;
}
.btn-yellow {
    background-image: -moz-linear-gradient( 90deg, rgb(239,118,0) 0%, rgb(255,228,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(239,118,0) 0%, rgb(255,228,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(239,118,0) 0%, rgb(255,228,0) 100%);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    font-family: "Poppins Medium";
}
.rounded-full {
    border-radius: 30px;
}
.annoncement-icon {
    display: flex;
    align-items: center;
    position: relative;
}
.annoncement-icon span.icon-img-announcement {
    width: 30px;
    height: 30px;
    background: #bc2263;
    border-radius: 50%;
    padding: 6px;
    line-height: 16px;
    position: absolute;
    left: 0;
    box-shadow: 6px 0px 2px rgb(0 0 0 / 20%);
}
.annoncement-icon span.text-announcement {
    padding: 0 10px 0 25px;
    border-radius: 5px;
    background: #bc2263;
    margin-left: 10px;
    color: #fff;
    font-size: 13px;
    font-family: "Poppins Regular";
} 
.marque-div ul {
    margin: 0;
    padding: 0;
}
section.announcement {
    background: #f07f00;
    padding: 10px 0 5px;
}
.marque-div ul li {
    margin-right: 20px !important;
    position: relative;
    color: #fff;
}
.marque-div ul li:hover {
    cursor: pointer;
}
.marque-div ul li:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #bc2263;
    border-radius: 50%;
    top: 10px;
    right: -15px;
}
.text-color-main {
    color: #bc2263;
}
.heading-part h1, .heading-part h2, .heading-part h3, .heading-part h4, .heading-part h4, .heading-part h5, .heading-part h6 {
    font-family: "Roboto";
}
.custom-padding {
    padding: 60px 0;
}
.theme-tabs .theme-nav-tabs {
    width: fit-content;
    margin: 0 auto !important;
    border-bottom: none !important;
    margin: 0 auto !important;
    border-bottom: none !important;
    display: flex!important;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.theme-tabs .theme-nav-tabs .nav-link {
    margin-bottom: 0 !important;
    border: 1px solid #ddd;
    border-radius: 30px 0;
    color: #000;
    background-color: #fff;
    min-width: 160px;
}
.theme-tabs .theme-nav-tabs .nav-link .circle-logo-gp {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
}
.theme-tabs .theme-nav-tabs .nav-link .circle-logo-gp .img-gp {
    border-radius: 50%;
    padding: 3px;
    width: 100%;
}
.theme-tabs .theme-nav-tabs .nav-item {
    margin-right: 15px;
}
.theme-tabs .theme-nav-tabs .nav-link.active {
    margin-bottom: 0 !important;
    border: 1px solid #bc2263;
    border-radius: 30px 0;
    color: #fff;
    background-color: #bc2263;
}
.coupon-block {
    border: 1px solid #ddd;
    border-radius: 10px;
    position: relative;
    padding: 15px 50px;
}
.coupon-block .half-cicle.left {
    position: absolute;
    left: -25px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-25px);
    box-shadow: 1px 0px 0px rgb(0 0 0 / 20%);
    z-index: 99999999;
}
.payout-text-part {
    position: absolute;
    right: -12px;
    transform: rotateZ(-90deg);
    width: 60px;
    top: 50%;
    text-align: center;
    text-transform: uppercase;
    margin-top: -15px;
    z-index: 1;
    color: #fff;
}
.coupon-block:after {
    position: absolute;
    content: '';
    right: 0;
    height: 100%;
    width: 40px;
    background-color: #000;
    top: 0;
    border-radius: 0 10px 10px 0;
}
.half-circles {
    position: absolute;
    z-index: 9;
    width: 15px;
    right: -11px;
    top: 0;
    height: 100%;
}
.half-circles span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    margin: 10px 0;
}
.card-top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.logo-gp-prize {
    margin-right: 10px;
}
.logo-gp-prize-outer {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid;
    padding: 5px;
    box-sizing: border-box;
}
.logo-gp-prize .logo-gp-prize-outer .logo-gp-prize-inner img {
    width: 100%;
}
.name-lottery p {
    margin-bottom: 0;
    font-size: 14px;
}
.name-lottery .date-cal {
    font-size: 14px;
    line-height: 1;
    position: relative;
    padding-left: 20px;
}
.name-lottery .date-cal span.small-calendar {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    position: absolute;
    margin-top: -3px;
    left: 0;
}
.name-lottery .date-cal span.small-calendar img {
    width: 100%;
}
.gp-prize-play-btn a {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
}
.first-three-block {
    border-radius: 10px;
    text-align: center;
}
.first-three-block .prize-type {
    font-size: 13px;
    color: #fff;
    padding: 5px 0;
    border-bottom: 1px solid #fff;
}
.first-three-block .prize-amt {
    padding: 10px 0;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
.s-and-c {
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px 0;
}
.s-and-c .table-custom {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.s-and-c .table-custom tr:last-child td {
    border: none !important;
}
.damamcai .first-three-block {
    background: #c42026;
}
.damamcai .gp-prize-play-btn a {
    background: #c42026;
    color: #fff;
}
.damamcai .s-and-c {
    background-color: #1c377c;
}
.damamcai .logo-gp-prize-outer {
    border-color: #c42026;
}
.magnum .first-three-block {
    background: #ffc100;
}
.magnum .gp-prize-play-btn a {
    background: #f18300;
    color: #fff;
}
.magnum .s-and-c {
    background-color: #f17e00;
}
.magnum .logo-gp-prize-outer {
    border-color: #000;
}
.magnum .logo-gp-prize .logo-gp-prize-outer .logo-gp-prize-inner img {
    border-radius: 10px;
}
.toto .first-three-block {
    background: #ed3740;
}
.toto .gp-prize-play-btn a {
    background: #ed3740;
    color: #fff;
}
.toto .s-and-c {
    background-color: #000;
}
.toto .logo-gp-prize-outer {
    border-color: #ed3740;
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #ddd;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
  
  .timeline-container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
  }
  
  .timeline-container.left {
    left: 0;
  }
  
  .timeline-container.right {
    left: 50%;
  }
  
  .timeline-container .date {
    position: absolute;
    display: inline-block;
    top: 85%;
    width: 45px;
    height: 45px;
    background: #bf2262;
    border-radius: 50%;
    color: #fff;
    line-height: 45px;
    text-align: center;
    z-index: 2;
  }
  
  .timeline-container.left .date {
    right: -23px;
  }
  
  .timeline-container.right .date {
    left: -23px;
  }
  
  .timeline-container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: #F6D155;
    border: 2px solid #006E51;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color: #006E51;
    z-index: 1;
  }
  
  .timeline-container.left .icon {
    right: 56px;
  }
  
  .timeline-container.right .icon {
    left: 56px;
  }
  
  .timeline-container .content {
    padding: 30px 60px 30px 30px;
    background: #fff;
    border: 1px solid #ddd;
    position: relative;
    border-radius: 0 50px;
  }
  
  .timeline-container.right .content {
    padding: 30px 30px 30px 60px;
    border-radius: 50px 0;
  }
  
  .timeline-container .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }
  
  .timeline-container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
  .how-to-play {
    background: url(../images/vector-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .footer {
    background: #303030 url(../images/hero-building.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
  .footer-row {
    display: flex;
    align-items: center;
}
.footer-links ul {
    margin: 0;
    padding: 0;
}
.footer-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 0 15px;
}
.footer-links ul li:last-child a {
    padding-right: 0;
}
.footer-links ul li:first-child a {
    padding-left: 0;
}
.footer-links p {
    font-size: 13px;
    text-align: right;
}
.menu-mobile {
    display: none !important;
}
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1051;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  

  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .custom-breadcrumb {
    padding: 20px 0;
    background: #bc2263 url(../images/hero-building.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 23%;
    text-align: center;
  }
  .breadcrumb-heading h1 {
    font-family: "Roboto Medium";
    color: #fff;
    font-size: 35px;

  }
  .custom-breadcrumb .breadcrumb-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .custom-breadcrumb .breadcrumb-list ul li {
    display: inline-block;
  }
  .custom-breadcrumb .breadcrumb-list ul li a {
    position: relative;
    margin-right: 10px;
    color: #fff;
    font-family: "Poppins light";
    text-decoration: none;
    font-size: 14px;
  }
  .custom-breadcrumb .breadcrumb-list ul li a:after {
    position: absolute;
    content: '/';
    color: #fff;
    right: -10px;
    z-index: 1;
    top: 1px;
  }
  .custom-breadcrumb .breadcrumb-list ul li span {
    position: relative;
    margin-right: 10px;
    color: #fff;
    font-family: "Poppins medium";
    text-decoration: none;
    font-size: 14px;
  }
.date-lottery-selector {
    border: 1px solid;
    border-radius: 50px 0;
    padding: 15px;
    margin-bottom: 20px;
}
.unslected {
    border-color: #dddddd;
}
.selected {
    border-color: #bc2263;
}
span.outer-circle-gp {
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
    border: 1px solid;
    overflow: hidden;
    padding: 3px;
    cursor: pointer;
    line-height: 15px;
}
span.selected-gp-btn {
    border-color: #bc2263;
}
.select-gp ul {
    margin: 0;
    padding: 0;
}
span.inner-circle-gp {
    display: block;
    border-radius: 50%;
    overflow: hidden;
}
span.outer-circle-gp span.inner-circle-gp img {
    filter: grayscale(100%);
}
span.outer-circle-gp.selected-gp-btn span.inner-circle-gp img {
    filter: grayscale(0%);
}
.round {
    position: relative;
    width: 35px;
}
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  .round label:after {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ccc;
    content: "";
    left: 5px;
    position: absolute;
    top: 5px;
    border: 1px solid #ddd;
  }
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  .round input[type="checkbox"]:checked + label {
    background-color: #fff;
    border: 1px solid #bc2263;
  }
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
    background-color: #bc2263;
    
  }
  .selected .day-n-date p {
    color: #bc2263;
  }
  .sno {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
  }
  .form-control-custom {
    border: 1px solid #ddd;
    border-radius: 10px 0; 
    padding: 4px 10px;
    font-size: 13px;
    width: 150px;
    max-width: 100%;
  }
  .form-control-custom:focus, .form-control-custom:focus-visible {
    border: 1px solid #bc2263;
    box-shadow: none;
    outline: 0;
  }
  .btn-custom-small {
    border: 1px solid #bc2263;
    color: #bc2263;
    background-color: #fff;
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    border-radius: 10px 0;
    transition: 0.5s;
  }

  .btn-custom-small-disabled {
    border: 1px solid #bc2263;
    color: #bc2263;
    background-color: #fff;
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    border-radius: 10px 0;
    transition: 0.5s;
  }
   .btn-custom-small:active, .btn-custom-small:visited, .btn-custom-small:focus-visible, .btn-custom-small:hover {
    background-color: #bc2263;
    color: #fff;
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.3);
  } 
  .active-bet-type {
    background-color: #bc2263;
    color: #fff;
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.3);
  }
  .btn-delete-small {
    border: none;
    color: #fff;
    background-color: #bc2263;
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: 0.5s;
    line-height: 25px;

  }
  .btn-delete-small:active, .btn-delete-small:focus, .btn-delete-small:visited, .btn-delete-small:focus-visible, .btn-delete-small:focus-within, .btn-delete-small:hover {
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.3);
  }
  .table-scalable table {
    max-width: 100%;
    table-layout: fixed;
    width: 100%;
  }
  .table-scalable table tr td, .table-scalable table tr th {
    padding: 4px 5px;
    border-bottom: 1px solid #ddd;
  }
  .table-scalable table tr td:first-child, .table-scalable table tr th:first-child, .table-scalable table tr td:last-child, .table-scalable table tr th:last-child {
    width: 35px;
  }
  .table-scalable table tr td:nth-child(7), .table-scalable table tr th:nth-child(7) {
    width: 120px;
  }
  .table-scalable table tr:last-child {
    background: #efefef;
  }
  .btn-custom-curve1 {
    border: 1px solid #bc2263;
    padding: 10px 20px;
    text-align: center;
    background-color: #fff;
    color: #bc2263;
    text-transform: uppercase;
    border-radius: 20px 0;
    transition: 0.5s;
  }
  .btn-custom-curve2 {
    border: 1px solid #bc2263;
    padding: 10px 20px;
    text-align: center;
    background-color: #bc2263;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px 0;
    transition: 0.5s;
    width: 100%;
  }
  .btn-custom-curve1:hover, .btn-custom-curve1:focus, .btn-custom-curve1:active, .btn-custom-curve1:focus-visible, .btn-custom-curve1:focus-within {
    background-color: #bc2263;
    color: #fff;
  }
  .btn-custom-curve2:hover, .btn-custom-curve2:focus, .btn-custom-curve2:active, .btn-custom-curve2:focus-visible, .btn-custom-curve2:focus-within  {
    background-color: #fff;
    color: #bc2263;
  }
  .form-control-custom-big {
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: none;
    border-radius: 20px 0;
    padding: 5px 15px;
    width: 100%;
    min-height: 45px;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  .form-control-custom-big:active, .form-control-custom-big:focus, .form-control-custom-big:visited, .form-control-custom-big:focus-visible, .form-control-custom-big.btn-custom-small:focus-within {
    border: 1px solid #bc2263;
    outline: 0;
  }
  .datepicker {
    padding: 6px;
  }
  .datepicker td, .datepicker th {
    font-size: 13px;
  }
  .activeClass {
    background-color: #ffc20f;
    border-radius: 5px 0 !important;
    min-width: 32px !important;
    font-size: 12px;
    opacity: .5;
  }
  .activeClass:hover {
    opacity: 1;
    background-color: #ffc20f !important;
  }
  .datepicker td, .datepicker th {
    width: 32px;
  }
  .filter-text {
    position: relative;
}
span.text-filter {
    font-weight: bold;
    font-size: 20px;
}
.filter-date .form-control {
    border-radius: 10px 0 0 0;
}
.filter-date .input-group-text {
    border-radius: 0 0 10px 0;
    background-color: #bc2263 !important;
    color: #fff;
    border: 1px solid #bc2263;
}
.curved-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 20px 0;
}
span.filter-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 10px 0;
    background: #efefef;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ddd;
    margin-right: 10px;
}
.print-btn {
    position: absolute;
    right: 15px;
    font-weight: normal;
}
.custom-accordion .accordion-button:not(.collapsed) {
    background-color: #bc2263;
    color: #fff;
}
.custom-accordion .accordion-button {
    color: #000;
    padding: 10px 20px;
    background-color: #fbbb3b;
    border-radius: 5px;
}
.custom-accordion .accordion-button span:first-child {
    font-weight: bold;
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../images/icons/dow_arrow.png);
    transform: rotate(-180deg);
    color: #fff;
}
.custom-accordion .accordion-item:first-of-type .accordion-button {
    border-radius: 5px;
}
.custom-accordion .accordion-item {
    margin-bottom: 10px;
}
.custom-accordion .accordion-item {
    border: none;
}
span.prize-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 3px;
    line-height: 20px;
}
span.prize-name {
    font-weight: bold;
}
.damamcai span.prize-icon {
    border: 1px solid #c42026;
}
.card.damamcai {
    border: 2px solid #c42026;
}
.card.magnum {
    border: 2px solid #f17e00;
}
.card.toto {
    border: 2px solid #000;
}
.bg-toto {
    background-color: #f03c45 !important;
}
.custom-accordion .accordion-button::after {
    display: none;
}
.card {
    margin-bottom: 15px;
}
.active-btn {
    background-color: #f03c45 !important;
    color: #fff;
    box-shadow: 0px 6px 3px rgb(0 0 0 / 30%)
}
  @media (min-width: 576px) {
    .container-sm, .container {
      max-width: 100%;
    }
  }
  @media (min-width: 768px) {
    .container-md, .container-sm, .container {
      max-width: 100%;
    }
  }
  @media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
    }
    
  }
  @media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1320px;
    }
  }
@media (max-width:991px) {
    .table-scalable table tr td:nth-child(7), .table-scalable table tr th:nth-child(7) {
        width: 75px;
      }
      span.outer-circle-gp {
        width: 25px;
        height: 25px;
        padding: 1px;
    }
    .btn-custom-small {
        width: 100%;
    }
    .btn-delete-small {
        width: 100%;
    }
    .desktop-menu {
        display: none;
    }
    .menu-mobile {
        display: inline-block !important;
    }
    .menu-mobile .navbar-toggler {
        background-color: #bf2262;
        padding: 0.25rem 0.25rem;
    }
    .menu-mobile .navbar-toggler .navbar-toggler-icon {
        background-image: url(../images/icons/6015685.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .table-part .table tr td, .table-part .table tr th {
        padding: 3px;
        font-size: 13px;
    }
    .half-circles span:nth-child(10), .half-circles span:nth-child(11), .half-circles span:nth-child(12), .half-circles span:nth-child(13) {
        display: none;
    }
    .name-lottery p {
        margin-bottom: 0;
        font-size: 13px;
    }
    .name-lottery .date-cal {
        font-size: 12px;
    }
    .gp-prize-play-btn a {
        font-size: 12px;
        padding: 5px 3px;
    }
    .table-scalable table {
        table-layout: fixed;
        font-size: 12px;
      }
}
  @media (max-width: 767.98px) {
    .timeline::after {
      left: 90px;
    }
    .half-circles span:nth-child(10), .half-circles span:nth-child(11), .half-circles span:nth-child(12), .half-circles span:nth-child(13) {
        display: none;
    }
    .timeline-container {
      width: 100%;
      padding-left: 120px;
      padding-right: 30px;
    }
  
    .timeline-container.right {
      left: 0%;
    }
  
    .timeline-container.left::after, 
    .timeline-container.right::after {
      left: 82px;
    }
  
    .timeline-container.left::before,
    .timeline-container.right::before {
      left: 100px;
      border-color: transparent #006E51 transparent transparent;
    }
  
    .timeline-container.left .date,
    .timeline-container.right .date {
      right: auto;
      left: 67px;
    }
  
    .timeline-container.left .icon,
    .timeline-container.right .icon {
      right: auto;
      left: 146px;
    }
  
    .timeline-container.left .content,
    .timeline-container.right .content {
      padding: 30px 30px 30px 90px;
      border-radius: 50px 0;
    }
    .draw-logo-img {
        width: 50px;
        height: 50px;
    }
    .logo-draw {
        margin-right: 10px;
    }
    .draw-name {
        font-size: 24px;
    }
    .date-block a {
        max-width: 250px;
        font-size: 14px;
    }
    .sd-text-part h3 {
        font-size: 22px;
    }
    .date-block {
        margin: 5px 0;
    }
    .sd-text-part p {
        font-size: 12px;
    }
  }
  @media (max-width:650px) {
    .footer-links ul {
        text-align: right;
    }
    .footer-links ul li:not(:last-child) {
        margin-right: 5px;
    }
    .footer-logo {
        max-width: 90px;
    }
    .footer-links ul li a {
        padding: 0 0px;
        font-size: 10px;
    }
    .footer-links p {
        font-size: 10px;
    }
    .hide-650 {
        display: none !important;
    }
    .name-lottery p {
        font-size: 14px;
    }
    .gp-prize-play-btn a {
        padding: 10px 10px;
    }
    .logo {
        max-width: 90px;
        margin-right: 10px;
    }
    .right-part-menu .right-part-list li .user-details .reload-icon span {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #bf2262;
        padding: 2px;
        line-height: 8px;
    }
    .dropdown .lanugae-selector {
        font-size: 13px;
    }
    .dropdown .lanugae-selector .lang-flag {
        width: 15px;
        height: 15px;
        display: inline-block;
    }
  }
  @media(max-width:575px) {
    .hide-575 {
        display: none;
    }
    .hero-slider .col-6 {
        width: 100%;
    }
    .theme-tabs .theme-nav-tabs {
        width: auto;
    }
  }
  @media (max-width:480px) {
    .menu-mobile .navbar-toggler {
        background-color: #bf2262;
        padding: 0.15rem 0.15rem;
        font-size: 14px;
    }
    .logo {
        max-width: 55px;
        margin-right: 5px;
    }
    .coupon-block {
        padding-left: 30px;
    }
  }
  