html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}






/* for Mobile betting */

.m-top-d-png.container {
  width: 100%;
}
.m-top-d-png-l {
  width: 45%;
  float: left;
}
.m-top-d-png-r {
  width: 45%;
  float: right;
}
.m-top-d-png-m {
  width: 10%;
  float: left;
  text-align: center;
}
.vr {
  min-height: 4em !important;
}